{{> admin-navbar }}

<div class="container mt-4">
  <section id="conteudos">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="mb-0">{{#if banner}}Editar Banner{{else}}Cadastro de Banner{{/if}}</h2>
      <a href="/admin/banners" class="btn btn-info btn-sm">Listar banners</a>
    </div>

    <form id="bannerForm" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Título do Banner</label>
        <input type="text"
               class="form-control"
               id="title"
               name="title"
               placeholder="Digite o título do banner"
               value="{{#if banner}}{{banner.title}}{{/if}}">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Imagem</label>
        <input type="file" class="form-control" id="image" name="image">
        {{#if banner}}
          <div class="mt-2">
            <img src="{{banner.image}}" alt="{{banner.title}}" class="img-thumbnail" style="max-width: 100px;">
            <p class="text-muted">Imagem atual</p>
          </div>
        {{/if}}
      </div>
      <button type="submit" class="btn btn-primary">{{#if banner}}Salvar Alterações{{else}}Cadastrar{{/if}}</button>
    </form>
  </section>
</div>

{{> admin-footer }}

<script>
  document.getElementById('bannerForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(this);

    const isEditing = {{#if banner}}true{{else}}false{{/if}};
    const url = isEditing ? `/admin/banners/{{id}}` : '/admin/banners/create';
    const method = isEditing ? 'PATCH' : 'POST';

    fetch(url, { method: method, body: formData })
      .then(response => {
        if (response.ok) return ;
        return response.json().then(({ message }) => Promise.reject(new Error(message.join('\n'))));
      })
      .then(() => {
        alert(isEditing ? 'Banner atualizado com sucesso!' : 'Banner cadastrado com sucesso!');
        if (!isEditing) document.getElementById('bannerForm').reset();
      })
      .catch(error => {
        console.error(error);
        console.error('Erro:', error);
        alert(error.message);
      });
  });
</script>
